################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestApp/obj
/TestApp/.vs/TestApp/v17
/TestApp/.vs/TestApp/FileContentIndex
/.vs
